/.idea
/.claude
node_modules
dist
coverage
/package-lock.json
**/.vitepress/cache
**/.vitepress/dist
/docs/*.md
/docs/*.gif
!/docs/index.md
/docs/public/dynamicforms/
/docs/public/allowances/
/docs/public/muxws/
/docs/public/vue-i18n-python/
